<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--应用程序全名称-->
    <add key="ApplicationFullName" value="Conference.exe" />

    <!--应用程序名称-->
    <add key="ApplicationName" value="Conference" />
    <!--lync名称-->
    <add key="LyncName" value="Lync" />
  </appSettings>
</configuration>