<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConferenceAudioWebserviceSoap" />
                <binding name="ConferenceInfoWebServiceSoap" />
                <binding name="ConferenceTreeWebServiceSoap" />
                <binding name="ConferenceVersionWebserviceSoap" />
                <binding name="FileSyncAppPoolWebserviceSoap" />
                <binding name="ConferenceLyncConversationWebserviceSoap" />
                <binding name="ConferenceSpaceAsyncWebserviceSoap" />
                <binding name="ConferenceMatrixWebserviceSoap" />
                <binding name="BasicHttpBinding_ISearchService" />
                <binding name="BasicHttpBinding_ISearchService1" />
                <binding name="BasicHttpBinding_ISearchService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ConferenceAudioWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceInfoWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceTreeWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceVersionWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FileSyncAppPoolWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceLyncConversationWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceSpaceAsyncWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConferenceMatrixWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40964/ConferenceVersionWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceVersionWebserviceSoap"
                contract="ConferenceVersionWebservice.ConferenceVersionWebserviceSoap"
                name="ConferenceVersionWebserviceSoap" />
            <endpoint address="http://localhost:40964/ConferenceVersionWebservice.asmx"
                binding="customBinding" bindingConfiguration="ConferenceVersionWebserviceSoap12"
                contract="ConferenceVersionWebservice.ConferenceVersionWebserviceSoap"
                name="ConferenceVersionWebserviceSoap12" />
            <endpoint address="http://localhost:40964/FileSyncAppPoolWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="FileSyncAppPoolWebserviceSoap"
                contract="FileSyncAppPoolWebService.FileSyncAppPoolWebserviceSoap"
                name="FileSyncAppPoolWebserviceSoap" />
            <endpoint address="http://localhost:40964/FileSyncAppPoolWebservice.asmx"
                binding="customBinding" bindingConfiguration="FileSyncAppPoolWebserviceSoap12"
                contract="FileSyncAppPoolWebService.FileSyncAppPoolWebserviceSoap"
                name="FileSyncAppPoolWebserviceSoap12" />
            <endpoint address="http://localhost:40964/ConferenceMatrixWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceMatrixWebserviceSoap"
                contract="ConferenceMatrixWebservice.ConferenceMatrixWebserviceSoap"
                name="ConferenceMatrixWebserviceSoap" />
            <endpoint address="http://localhost:40964/ConferenceMatrixWebservice.asmx"
                binding="customBinding" bindingConfiguration="ConferenceMatrixWebserviceSoap12"
                contract="ConferenceMatrixWebservice.ConferenceMatrixWebserviceSoap"
                name="ConferenceMatrixWebserviceSoap12" />
            <endpoint address="http://192.168.1.213:11888/ConferenceTreeWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceTreeWebServiceSoap"
                contract="ConferenceTreeWebService.ConferenceTreeWebServiceSoap"
                name="ConferenceTreeWebServiceSoap" />
            <endpoint address="http://192.168.1.213:11888/ConferenceTreeWebService.asmx"
                binding="customBinding" bindingConfiguration="ConferenceTreeWebServiceSoap12"
                contract="ConferenceTreeWebService.ConferenceTreeWebServiceSoap"
                name="ConferenceTreeWebServiceSoap12" />
            <endpoint address="http://192.168.1.213:11888/ConferenceLyncConversationWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceLyncConversationWebserviceSoap"
                contract="ConferenceLyncConversationWebservice.ConferenceLyncConversationWebserviceSoap"
                name="ConferenceLyncConversationWebserviceSoap" />
            <endpoint address="http://192.168.1.213:11888/ConferenceLyncConversationWebservice.asmx"
                binding="customBinding" bindingConfiguration="ConferenceLyncConversationWebserviceSoap12"
                contract="ConferenceLyncConversationWebservice.ConferenceLyncConversationWebserviceSoap"
                name="ConferenceLyncConversationWebserviceSoap12" />
            <endpoint address="http://192.168.1.213:11888/ConferenceSpaceAsyncWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceSpaceAsyncWebserviceSoap"
                contract="ConferenceSpaceAsyncWebservice.ConferenceSpaceAsyncWebserviceSoap"
                name="ConferenceSpaceAsyncWebserviceSoap" />
            <endpoint address="http://192.168.1.213:11888/ConferenceSpaceAsyncWebservice.asmx"
                binding="customBinding" bindingConfiguration="ConferenceSpaceAsyncWebserviceSoap12"
                contract="ConferenceSpaceAsyncWebservice.ConferenceSpaceAsyncWebserviceSoap"
                name="ConferenceSpaceAsyncWebserviceSoap12" />
            <endpoint address="http://192.168.1.213:11888/ConferenceInfoWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceInfoWebServiceSoap"
                contract="ConferenceInfoWebService.ConferenceInfoWebServiceSoap"
                name="ConferenceInfoWebServiceSoap" />
            <endpoint address="http://192.168.1.213:11888/ConferenceInfoWebService.asmx"
                binding="customBinding" bindingConfiguration="ConferenceInfoWebServiceSoap12"
                contract="ConferenceInfoWebService.ConferenceInfoWebServiceSoap"
                name="ConferenceInfoWebServiceSoap12" />
            <endpoint address="http://192.168.1.206/_vti_bin/SharePointSearch.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService"
                contract="SPSearch.ISearchService" name="BasicHttpBinding_ISearchService" />
            <endpoint address="http://192.168.1.206/_vti_bin/SharePointSearch.svc/anonymous"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService1"
                contract="SPSearch.ISearchService" name="BasicHttpBinding_ISearchService1" />
            <endpoint address="http://192.168.1.206/_vti_bin/SharePointSearch.svc/ntlm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService2"
                contract="SPSearch.ISearchService" name="BasicHttpBinding_ISearchService2" />
            <endpoint address="http://192.168.10.214:11888/ConferenceAudioWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConferenceAudioWebserviceSoap"
                contract="ConferenceAudioWebservice.ConferenceAudioWebserviceSoap"
                name="ConferenceAudioWebserviceSoap" />
            <endpoint address="http://192.168.10.214:11888/ConferenceAudioWebservice.asmx"
                binding="customBinding" bindingConfiguration="ConferenceAudioWebserviceSoap12"
                contract="ConferenceAudioWebservice.ConferenceAudioWebserviceSoap"
                name="ConferenceAudioWebserviceSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
