<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConferenceWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <!--Microsoft.DirectX.dll_F___ffmpeg.exe_F___-->
  <appSettings>
    <!--需要更新的文件-->
    <add key="UpdateFile" value="Conference.exe_F___Conference.config_F___ConferenceCommon.dll_F___ConferenceModel.dll_F___ConferenceWebCommon.dll_F___msvcp120d.dll_F___msvcr120d.dll_F___Conference_Conversation.dll_F___Conference_IMM.dll_F___Conference_MyConference.dll_F___Conference_Note.dll_F___Conference_Space.dll_F___Conference_Tree.dll_F___Conference_WebBrowser.dll_F___Conference_Maxtrix.exe_F___Conference_Maxtrix.config_F___Studiom_Model.dll_F" />
    <!--需要更新的文件夹-->
    <add key="UpdateRootFile" value="KeyboardSetting/x86/AdjustTouchKeyboardOpacity.exe_F___KeyboardSetting/x86/AdjustTouchKeyboardOpacity.ini___LocalTemp/test.txt___File/InviteFile.pptx___File/会议纪要.htm___File/logo1.ico" />
    <!--客户端版本-->
    <add key="ConferencePCVersion" value="2.25" />
    <!--通讯IP-->
    <add key="LocalIP" value="192.168.11.214" />
    <!--通讯端口-->
    <!--<add key="ServerPoint" value="1008" />-->


    <!--知识树服务端口-->
    <add key="TreeServerPoint" value="10009" />
    <!--语音服务端口-->
    <add key="AudioServerPoint" value="10010" />
    <!--消息服务端口-->
    <add key="InfoServerPoint" value="10011" />
    <!--lync服务端口-->
    <add key="LyncServerPoint" value="10012" />
    <!--甩屏服务端口-->
    <add key="FileServerPoint" value="10013" />

    <!--服务端口【智存空间】-->
    <add key="SpaceServerPoint" value="10014" />

    <!--矩阵应用端口-->
    <add key="MatrixServerPoint" value="10015" />

    <!--本地语音存储文件夹名称-->
    <add key="AudioLocalRootName" value="AudioFile" />
    <!--会议信息文件名称-->
    <add key="MeetFileName" value="MeetingFile.txt" />








    <!--客户端配置信息-->
    <!--首先dns-->
    <add key="DNS1" value="192.168.1.201" />
    <!--备用dns-->
    <!--<add key="DNS2" value="10.1.4.10" />-->
    <add key="DNS2" value="192.168.1.1" />
    <!--lync名称-->
    <add key="LyncName" value="Lync" />
    <!--lync证书文件名称-->
    <add key="Certification" value="CertainCT.cer" />
    <!--lync证书秘钥-->
    <add key="CertificationSerial" value="‎‎47 8f 89 72 98 01 36 82 0a 14 42 b1 3f fb 95 4b 2b 24 c1 66" />
    <!--域名-->
    <add key="UserDomain" value="st.com" />
    <!--域名前名称-->
    <add key="UserDoaminPart1Name" value="st" />
    <!--lync服务1IP地址-->
    <add key="LyncIP1" value="192.168.1.208" />
    <!--lync服务2IP地址-->
    <add key="LyncIP2" value="192.168.1.209" />
    <!--Sharepoint服务IP地址-->
    <add key="SPSiteAddressFront" value="http://192.168.1.205" />
    <!--智慧树文件保存名称-->
    <add key="TreeXmlFileName" value="TreeFile.xml" />
    <!--研讨图片文件保存名称-->
    <add key="TreeJpgFileName" value="TreeFile.png" />
    <!--会议空间文件夹-->
    <add key="MeetingFolderName" value="MeetingFolder" />
    <!--个人空间文件夹-->
    <add key="PesonalFolderName" value="UserFolder" />
    <!--智存空间网站集-->
    <add key="SpaceWebSiteUri" value="http://192.168.1.205/sites/TestTop/Storage" />
    <!--本地个人笔记名称-->
    <add key="LocalPersonalNoteFile" value="个人笔记.one" />

    <!--投影分辨率宽度设置-->
    <add key="ScreenResulotionWidth" value="1280" />
    <!--投影分辨率高度设置-->
    <add key="ScreenResulotionHeight" value="768" />
    <!--大屏幕-->
    <!--<add key="BigScreenName" value="gth@st.com" />-->

    <!--ftp服务地址-->
    <add key="ConferenceFtpWebAddressFront" value="ftp://192.168.11.214" />
    <!--语音文件上传目录-->
    <add key="FtpServerceAudioName" value="/AudioFile/" />
    <!--个人头像存储实际目录-->
    <add key="PersonImgHttp" value="http://192.168.11.214:11888/PersonImage/" />
    <!--音频文件存储实际目录-->
    <add key="AudioTempHttp" value="http://192.168.11.214:11888/AudioFile/" />
    <!--手机传送连接命令分隔符-->
    <add key="MobileConnectCommondSplitChar" value="*" />
    <!--用户头像上传目录-->
    <add key="FtpServercePersonImgName" value="/PersonImage/" />
    <!--智慧树新节点默认名称-->
    <add key="TreeItemEmptyName" value="新节点" />
    <!--录播文件存放地址-->
    <add key="RecordFolderName" value="\\Lb-pc\d\TEST\录播教室" />
    <!--录播文件扩展名-->
    <add key="RecordExtention" value="*.mp4" />
    <!--上传的录制视频名称-->
    <add key="ReacordUploadFileName" value="Movie.record" />
    <!--触摸键盘设置区域（64）-->
    <add key="KeyboardSettingFile_64" value="\KeyboardSetting\x64\AdjustTouchKeyboardOpacity.exe" />
    <!--触摸键盘设置区域（32）-->
    <add key="KeyboardSettingFile_32" value="\KeyboardSetting\x86\AdjustTouchKeyboardOpacity.exe" />
    <!--ftp用户-->
    <add key="FtpUserName" value="FTPUser" />
    <!--ftp用户密码-->
    <add key="FtpPassword" value="123456" />

    <!--会议预定信息登陆用户-->
    <add key="ReservationLoginUser" value="Administrator" />
    <!--会议预定信息登陆密码-->
    <add key="ReservationLoginPwd" value="STPassword2015" />
    <!--是否需要预定会议信息-->
    <add key="IsNeedReservationInfo" value="False" />
    <!--预定会议信息服务地址-->
    <add key="RevertWebServiceUri" value="http://192.168.1.205/_vti_bin/Revert.svc" />
   
  </appSettings>
  <connectionStrings />
  <system.web>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" />
    <!--
      通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <!--<authentication mode="Windows" />-->
    <!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".dll_F" mimeType="text/Plain" />
      <mimeMap fileExtension=".exe_F" mimeType="text/Plain" />
      <mimeMap fileExtension=".config_F" mimeType="text/Plain" />
      <mimeMap fileExtension=".cer_F" mimeType="text/Plain" />
      <mimeMap fileExtension=".lib" mimeType="text/Plain" />
      <mimeMap fileExtension=".ini" mimeType="text/Plain" />
      <mimeMap fileExtension=".amr" mimeType="audio/AMR" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />

    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>