<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ServiceIP" value="192.168.1.191"/>
    <add key="ServicePort" value="100"/>-->
    
    <add key="HttpService" value="http://192.168.1.249:1888/ConferenceUpdate/"/>   
    <add key="CutProcess" value="Lync___Conference"/>
    <add key="CompleteOpenApp" value="Conference.exe"/>
    
    <add key="Cer_FalseFileExtention" value=".cer_F"/>
    <add key="Exe_FalseFileExtention" value=".exe_F"/>
    <add key="Dll_FalseFileExtention" value=".dll_F"/>
    <add key="Config_FalseFileExtention" value=".config_F"/>
    <add key="SplitString" value="___"/>
  </appSettings> 

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConferenceVersionWebserviceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.249:1888/ConferenceVersionWebservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="ConferenceVersionWebserviceSoap"
        contract="ConferenceVersionWebservice.ConferenceVersionWebserviceSoap"
        name="ConferenceVersionWebserviceSoap" />
    </client>
  </system.serviceModel>
</configuration>
