<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Pro_KnowledgeServiceSoap" />
            </basicHttpBinding>
           
        </bindings>
        <client>
            <endpoint address="http://192.168.1.212:1024/Pro_KnowledgeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Pro_KnowledgeServiceSoap"
                contract="Pro_KnowledgeService.Pro_KnowledgeServiceSoap" name="Pro_KnowledgeServiceSoap" />
           
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
