<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRevert" />
                <binding name="BasicHttpBinding_IRevert1" />
                <binding name="BasicHttpBinding_IRevert2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.205/_vti_bin/Revert.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRevert"
                contract="ConferenceInfoWebService.IRevert" name="BasicHttpBinding_IRevert" />
        </client>
    </system.serviceModel>
</configuration>